@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");

:root {
  --font-family: "Red Hat Text", sans-serif;

  /* breakpoints */
  --mobile: 23.438rem;
  --desktop: 90rem;

  /* colors */
  --color-red: #b2321c;
  --color-green: #1e9d62;
  --color-rose-50: #fef4f1;
  --color-rose-100: #f6e7e1;
  --color-rose-300: #d5bdb3;
  --color-rose-400: #bca29c;
  --color-rose-500: #8e6f70;
  --color-rose-900: #271410;

  /* weights */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
